<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="">
          <p class="title">Hello Birgunj</p>
        </div> 
        <div class="mt-3">
          <p>Do you want to vehicle then click here</p>
          <%= link_to "vehicles", vehicles_path, class: "btn btn-primary mb-3" %><br>
          <%= image_tag("vehicles.webp", :alt => "rss feed", :hight => "250px", :width => "300px") %>  
        </div>
        <div class="mt-5">
          <p>Do you want to Labours then click here</p>
          <%= link_to "labours", labours_path, class: "btn btn-primary mb-3" %><br>
          <%= image_tag("worker.jpeg", :alt => "rss feed", :hight => "250px", :width => "300px") %> 
        </div>
      </div>  
    </div>
  </div>
</div>      



 